<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- style.css file path in the line below. -->
    <!-- <link rel="stylesheet" href="css/style.css" /> -->
    <!-- -------------------------------------- -->
    <title>Multer Tutorial</title>
  </head>
  <body>
    <main>
      <div>
        <form action="/api/hashFile" enctype="multipart/form-data" method="POST">
          <input type="file" id="myFile" name="myFile" />
          <input type="submit" />
        </form>
      </div>
    </main>
  </body>
</html>
